body {
  text-align: center;
  font-family: Arial, sans-serif;
}

#video-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

video {
  width: 45%;
  border: 2px solid black;
  border-radius: 10px;
}